{% extends "application.html" %}

{% block html_attribs %} lang pt_BR="BR"{% endblock %}

{% block title %}MenuHub | Add User{% endblock %}

{% block content %}
<div class="container">
    <h1>MenuHub | Add User</h1>
    <div class="card" style="width: 18rem;">
        <form method="POST" action="/user/add">
            <label>Name: </label>
            <input type="text" name="name">

            <label>Email: </label>
            <input type="text" name="email">

            <label>Password: </label>
            <input type="text" name="password">

            <button type="submit" class="btn btn-primary">Add user</button>
        </form>
    </div>
</div>
{% endblock %}