{% extends "application.html" %}

{% block html_attribs %} lang pt_BR="BR"{% endblock %}

{% block title %}MenuHub | Add User{% endblock %}

{% block content %}
<div class="container">
    <h1>Add User</h1>
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <form method="POST" action="/adduser">
            <div class="mb-3">
                <label for="fieldName" class="form-label">Name</label>
                <input type="text" class="form-control" id="fieldName" name="name" required>
            </div>

            <div class="mb-3">
                <label for="fieldEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="fieldEmail" name="email" required>
            </div>

            <div class="mb-3">
                <label for="fieldPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="fieldPassword" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </form>
    </div>
</div>
{% endblock %}