{% extends "application.html" %}

{% block html_attribs %} lang pt_BR="BR"{% endblock %}

{% block title %}Plates{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-3">Add Plates</h1>
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <form method="POST" action="/plates" class="m-3">
            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <label for="fieldName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="fieldName" name="name" required>
                    </div>
                </div>
                
                <div class="col">
                    <div class="mb-2">
                        <label for="fieldCategory" class="form-label">Category</label>
                        <select id="fieldCategory" class="form-select" required name="category">
                            <option value="-" selected>Select...</option>
                            <option value="STARTER">STARTER</option>
                            <option value="MAIN COURSE">MAIN COURSE</option>
                            <option value="DESSERT">DESSERT</option>
                        </select>
                    </div>
                </div>
    
                <div class="col">
                    <div class="mb-2">
                        <label for="fieldPrice" class="form-label">Price</label>
                        <input type="text" class="form-control" id="fieldPrice" name="price" required>
                    </div>
                </div>

                <div class="col" style="padding-top: 23px;">
                    <div class="mt-2">
                        <button id="btnRegister" type="submit" class="btn btn-primary">Register new plate</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="mt-3">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Restaurant ID</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for plate in plates %}
                <tr>
                    <td>{{ plate.id }}</td>
                    <td>{{ plate.name }}</td>
                    <td>{{ plate.category }}</td>
                    <td>{{ plate.price }}</td>
                    <td>{{ plate.restaurant_id }}</td>
                    <td>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                            Edit
                        </a> | 
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}