{% extends "application.html" %}

{% block html_attribs %} lang pt_BR="BR"{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-3">Search Plates</h1>
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <form method="POST" action="/search">
            <div class="container">
                <div class="row">

                    <div class="form-check mb-3 col">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioPlateId" checked>
                        <label class="form-check-label mb-1" for="radioPlateId">
                            Plate Id
                        </label>
                        <input type="number" class="form-control" id="fieldPlateId" name="plate_id" required>
                    </div>
    
                    <div class="form-check col">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioPlateName">
                        <label class="form-check-label mb-1" for="radioPlateName">
                            Plate name
                        </label>
                        <input type="text" class="form-control" id="fieldPlateName" name="plate_name" disabled required>
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>        
    </div>
    
    <div class="mt-3">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Restaurant ID</th>
            </thead>
            <tbody>
                {% for plate in plates %}
                <tr>
                    <td>{{ plate.id }}</td>
                    <td>{{ plate.name }}</td>
                    <td>{{ plate.category }}</td>
                    <td>{{ plate.price }}</td>
                    <td>{{ plate.restaurant_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
{% block scripts %}
    <script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}
{% endblock %}